.post{
    width: 60%;
    background-color: white;
    margin: auto;
    border: grey 1px solid;
}
.head-post{
    padding: 8px;
    display: flex;
}
.head-post i{
    font-size: 27px;
    margin-top: 10%;
}
.text{
    flex-grow: 2;
    font-size: 90%;
}
.text p{
    margin: 0%;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img2 {
    width: 100%;
    height: 360px;
    margin-bottom: 7%;
    object-fit: cover;
}
.body-text {
    padding: 10px;
     font-size: 0.8rem;
}